#define SECRET_SSID "SSID" //Wi-Fi SSID
#define SECRET_PASSWORD "password" //Wi-Fi password
#define SECRET_SSSERVER "example.com:8443" //SurveillanceStation address and port
#define SECRET_SSUSER "username" //SurveillanceStation user
#define SECRET_SSUSERPASS "password" //SurveillanceStation password